*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.menu {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    position: relative;
  }
  .menu h1 {
    padding-left: 100px;
    cursor: pointer;
  }
  .menu h1 span {
    color: #2d87f3;
  }
  .menu_text {
    display: flex;
    padding-right: 100px;
  }
  .menu_text h2 {
    cursor: pointer;
    color: black;
    margin: 0 1%;
    text-align: center;
    font-size: 25px;

  }

.header{

    width: 100%;
    height: 80px;
    background: #2c87f3;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    transition: 0.5s;
    position: fixed;

}
body{
    min-height: 1000px;
}
.sticky{
    height: 10px;
}
.sticky h3{
    font-size: 0px;
}

.application{
 padding-top: 100px;
 padding-left: 100px;
}
.application_content{
    display: flex;
    align-items: center;
}
.application_content h3{
    font-size: 35px;
    color: #284a75;
}
.application_content p{
    font-size: 17px;
    padding-top: 10px;
    font-weight: 600;
}
.application_text{
    width: 80%;
}
.caculator_heartbeat{
    padding: 50px 100px;
    
}
.caculator_content{
    width: 100%;
    height: 100vh;
    background: rgb(248, 248, 248);
    
}
.gender_text{
    width: 70%;
    padding-top: 50px;
    padding-left: 100px;
}
.gender_text p{
    font-size: 25px;
    font-weight: 700;
    color: #2c87f3;

}
.border{
    padding: 30px 100px;
}
.border_content{
    width: 100%;
    border: .5px solid rgb(211, 211, 211);
}
.box1{
   
    
    width: 200%;
}
.caculator_box{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 20px;
    padding-top: 60px;
}
.box2{
    padding-left: 40px;
}
.gender_box{
    display: flex;
    justify-content: space-between;
    width: 40%;
}
.gender_img{
  
    padding: 20px;
   
    border-radius: 5px;
    cursor: pointer;
}
.age_text{
    padding-top: 80px;
}
.age_text span{
    font-weight: 700;
    font-size: 20px;
    color: #555;
    
}
.age_text input{
    margin-top: 15px;
    padding: 15px 40px;
    width: 80%;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: 0.6s;
}

.age_text input:focus{
    outline: none;
    
    border: 0.5px solid #2c87f3; 
}
.age_text input:hover{
    background: #eeeeee;
}
.box_btn{
    padding-top: 60px;
    padding-left: 200px;
}
.box_btn button{
    border: none;
    padding: 15px 60px;
    font-size: 17px;
    color: white;
    background-color: #2c87f3;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}
.box_btn button:hover{
    background-color: #659ee4;
}
.box2_1{
    padding-bottom: 40px;

}
.box2_1 p{
    color: #555;
}
.box2_1 h3{
    padding-bottom: 20px;
    font-size: 25px;
}

.gender_color{
    border: 0.5px solid #2c87f3;
}
.result{
    width: 100%;
    height: 90vh;
    
    
}
.min,.max{
    
    padding: 130px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.result_content{
    padding: 0x 100px;
    display: flex;
    justify-content: space-around;
    
}
.min{
    border-left: .5px solid rgb(182, 182, 182);
    padding-left: 250px;
}
.min_img,.max_img{
    margin-top: 50px;
}
.result p{
    font-size: 25px;
    font-weight: 600;
    padding: 10px;
}
.min_text,.max_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#hhr_min{
    color: #2c87f3;
}
#hhr_max{
    color: #2c87f3;
}
#heartbeat_max{
    color: #2c87f3;
}