* {
  font-family: "Lexend", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  position: relative;
}
.menu h1 {
  padding-left: 100px;
  cursor: pointer;
}
.menu h1 span {
  color: #2d87f3;
}
.menu_text {
  display: flex;
  padding-right: 100px;
}
.menu_text h2 {
  cursor: pointer;
  color: black;
  margin: 0 1%;
  text-align: center;
  font-size: 25px;
  
}

/* .search {
  background: white;
  width: 100%;
  height: 55vh;
  display: flex;
  position: absolute;
  top: 80px;
  right: 0px;
  display: none;
  border-top: 1px solid rgb(190, 186, 186);
  box-shadow: rgb(0 0 0 / 4%) 0px 24px 32px, rgb(0 0 0 / 4%) 0px 16px 24px,
    rgb(0 0 0 / 4%) 0px 4px 8px, rgb(0 0 0 / 4%) 0px 0px 1px;
  transition: 1s;
}
.search .search_content {
  margin: 0 30px;
  padding-top: 40px;
  display: inline-block;
}
.search .search_content ul li {
  padding: 7px 0;
  list-style: none;
}
.search .search_content ul li a {
  text-decoration: none;
  color: rgb(38 38 38);
  font-weight: 500;
} */

.header {
  height: 65%;
  background-image: url(./toolsBannerBlueLarge2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px 100%;
}

.header img {
  margin-left: 80%;
  width: 250px;
}
.header .title-bmi {
  color: white;
  padding-left: 5%;
  padding-right: 30%;
  padding-top: 8%;
  font-size: 20px;
}
#bmi {
  margin: 0 auto;
}
.icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5%;
}
#input1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
select#icon option[value="male"] {
  background-image: url(./male-icon.jpg);
}
select#icon option[value="female"] {
  background-image: url(./female-icon.jpg);
}
.inputData {
  margin-top: 20px;
  font-weight: bold;
}
.heightNumber {
  margin-top: 20px;
}
.weightNumber {
  margin-top: 20px;
}
input {
  width: 30vw;
  border-radius: 5px;
  height: 40px;
  padding: 10px;
  border: 0.1px solid gray;
  transition: 0.5s;
}
input:focus {
  background-color: rgb(153, 194, 255);
  transition: 0.5s;
}

.btn {
  margin: 5% 25% 10% 25%;
  border-radius: 10px !important;
  background-color: rgb(41, 126, 255) !important;
  font-weight: bold !important;
  color: white !important;
  width: 15vw !important;
  height: 4vh !important;
  padding: 1px !important;
}
.btn:hover {
  background-color: #0059fd !important;
}

#tab1 {
  margin: 0 20%;
}
.tab-pane p {
  margin-top: 1% !important;
}
.tab-pane {
  margin-bottom: 5% !important;
  border: 1px solid gray;
  padding: 5px 10px 5px 10px;
}
.nav-link {
  font-weight: bold;
  border: 0.1px solid gray !important;
  width: calc(100% / 3);
}
.nav-link:focus {
  background-color: rgb(1, 103, 255) !important;
  color: white !important;
  transition: 0.6s;
}
[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
[type="radio"] + img:hover {
  cursor: pointer;
  opacity: 0.6;
}

.gender + img {
  display: flex;
}

.container {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container .container_text {
  font-weight: 600;
  font-size: 30px;
}
.container .container_content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/* gợi ý */
.how {
  display: flex;
  flex-direction: column;
}
.status-head,
.risk-head,
.recommend-head {
  display: flex;
  justify-content: space-between;
  background-color: rgb(160, 235, 253);
  border: 1px solid white;
  padding: 1%;
  font-size: 15px;
}
.how img {
  margin-left: 5px;
  margin-top: 5px;
  cursor: pointer;
}
.how p {
  background-color: rgb(234, 248, 255);
  padding: 3%;
  border-radius: 5px;
  line-height: 2;
}
.slide-show {
  display: flex;
  flex-direction: column;
  margin: 10% 20% 0 20%;
}
.slide {
  margin-top: 5%;
  height: 15px;
  display: flex;
  border-radius: 20px;
  width: 100%;
}
.underweight-slide {
  width: 92%;
  background-color: #509bf7;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}
.healthy-slide {
  width: 32%;
  background-color: rgb(41, 226, 57);
}
.overweight-slide {
  width: 26%;
  background-color: rgb(255, 166, 0);
}
.obese1-slide {
  width: 26%;
  background-color: rgb(255, 102, 0);
}
.obese2-slide {
  width: 26%;
  background-color: rgb(255, 60, 0);
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
.text-slide {
  display: flex;
  justify-content: flex-start;
}
.s185 {
  margin-left: 42%;
}
.s25 {
  margin-left: 13%;
}
.s30 {
  margin-left: 11%;
}
.s35 {
  margin-left: 11%;
}

.bmi-slide {
  position: relative;
  margin-bottom: 5%;
}
#bmi-box {
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 66%,
    39% 66%,
    0 100%,
    22% 65%,
    1% 65%
  );
  position: absolute;
  text-align: center;
  width: 5vw;
  height: 10vh;
  background-color: rgb(41, 126, 255);
  font-weight: 800;
  color: white;
  padding-top: 2%;
  top: -12vh;
}

.footer {
  width: 100%;
  height: auto;

  padding-top: 50px;
}
.footer_content {
  background: #1b3250;
  width: 100%;
  height: 100vh;
}
.footer_content_banner {
  padding-left: 100px;
  padding-top: 40px;
}
.footer_content_box1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_content_child1 ul li {
  list-style: none;
  color: white;
  padding-top: 0px;
}
#child4 ul li {
  padding-top: 10px;
  font-size: 17px;
  font-weight: 600;
  transition: 0.6s;
}
#child3 ul li:hover {
  color: #105fc0;
}
#child4 ul li:hover {
  color: #0e5fc2;
}
#child2 ul li:hover {
  color: #0558be;
}
#child2 ul li {
  transition: 0.6s;
}
#child3 ul li {
  padding-top: 10px;
  font-size: 17px;
  font-weight: 600;
  transition: 0.6s;
}

.footer_content_final {
  padding-left: 100px;
  width: 90%;
  justify-content: space-between;
  display: flex;
  padding-top: 100px;
}
.contact_img {
  display: flex;
  justify-content: space-between;
}
.contact_img .image {
  padding: 0 5px;
}
.contact_img img {
  width: 40px;
}
.flag {
  display: flex;
  position: relative;
  right: -657px;
  top: -31px;
}
.flag_img img {
  width: 30px;
}
.flag_img {
  padding: 3px;
}
.explore_flag {
  width: 100%;
  display: flex;
}
.copyright_content {
  margin-left: 100px;
  margin-top: 40px;
  width: 90%;
  margin-right: 100px;

  border-top: 0.1px solid rgb(131, 123, 123);
  display: flex;
}

.copyright_content .text {
  width: 90%;
  color: white;
  font-size: 13px;
  padding-top: 30px;
}
.copyright_img {
  padding-top: 30px;
}
.copyright_img img {
  width: 90px;
}
.email_content {
  background: #e3f2ff;
  text-align: center;
  width: 50%;
  border-radius: 10px;
  height: auto;
}
.email_box {
  padding-left: 100px;
}
.email {
  padding: 150px 0;
}
.email_content_final {
  padding: 30px;
}
.signup {
  padding-top: 30px;
  color: rgb(31, 31, 31);
  font-family: "Lexend", sans-serif;
  font-size: 20px;
  padding-bottom: 15px;
}
::placeholder {
  font-size: 16px;
}

.email .btn {
  padding-top: 17px;
}
.email .btn button {
  width: 55%;
  height: 45px;
  border: none;
  color: white;
  background: #1878ee;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s;
}
.email .btn button:hover {
  background-color: #0053b9;
}
